div{
	outline: 1px dashed red;
}

div.container{
	width     : 980px;
	min-height: 1791px;
	background-image   : url('images/backguide.png');
	background-repeat  : no-repeat;
	background-position: center;
}
/* ----------------Tooltip---------------- */
.container-tooltip{
	padding   : 2px 5px;
	min-height: 24px;
}

.tooltip{
	min-height: 24px;
}

.container-tooltip .menu{
	min-height: 24px;
}
/* ----------------Header---------------- */
.container-header{
	min-height: 33px;
	padding   : 50px 10px;
}

.container-header .menu{
	min-height: 25px;
}

.container-header .logo{
	min-height: 25px;
}
/* ----------------Slide---------------- */
.container-slide{
	min-height: 320px;
	padding: 50px 20px 10px;
}

.container-slide .slideshow{
	min-height: 320px;
}