div{
	outline: 1px dashed red;
}

div.container{
	width     : 980px;
	min-height: 1791px;
	background-image   : url('images/backguide.png');
	background-repeat  : no-repeat;
	background-position: center;
}

div.container-tooltip{
	padding: 2px 5px;
	min-height:24px;
}

.tooltip{
	min-height:24px;
}

div.container-tooltip .menu{
	min-height:24px;
}

div.container-tooltip .menu li{
	float: left;
}