/*div{
	outline: 1px dashed red;
}
*/
@font-face{
    font-family: 'bmitra';
    src: url('fonts/smitrabd_0.eot');
    src: url('fonts/smitrabd_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/smitrabd_0.woff') format('woff'),
         url('fonts/smitrabd_0.ttf') format('truetype'),
         url('fonts/smitrabd_0.svg#2MitraBoldBold') format('svg');
	font-weight: normal;
	font-style : normal;
}

a{
	text-decoration:none;
	-webkit-transition-duration:300ms;
	-moz-transition-duration:300ms;
	-o-transition-duration:300ms;
	-ms-transition-duration:300ms;
	transition-duration:300ms;	
}

a:hover{
	-webkit-transition-duration:300ms;
	-moz-transition-duration:300ms;
	-o-transition-duration:300ms;
	-ms-transition-duration:300ms;	
	transition-duration:300ms;	
}

.en{
	direction: ltr;
}

body{
	background: #F4F4F2;	
}
/* -----------------------Top Header--------------------- */
.container-topheader{
	left      : 0;
	right     : 0;
	min-height: 20px;
	background-color : #19292E;
	
}

.container-topheader .container{
	min-height: 20px;
	width     : 970px;
}

.container-topheader .container .menu{
}

.container-topheader .container .menu ul{
	list-style-type: none;
}

.container-topheader .container .menu li{
	margin-top:5px;
	border-right: #a8acaf 1px solid;
	float : right;
}

.container-topheader .container .menu li:first-child{
	border:none;	
}

.container-topheader .container .menu a{
	color          : #a8acaf;
	font-family    : 'bmitra' , Arial;
	font-size      : 12px;
	padding:5px 12px;
}

.container-topheader .container .menu a:hover{
	color:#ffd;	
}

.container-topheader .container .tooltip{
	color      : #B1B1B1;	
	padding:7px 12px;
}

.container-topheader .container .tooltip a{
	text-decoration: none;
	font-family    : 'bmitra',Arial;
	font-size      : 12px;
	color          : #B1B1B1;
	
}
/* -----------------------Header---------------------------- */
.container-header{
	min-height: 130px;
	left      : 0;
	right     : 0;
	z-index   : -1;
	background-color: #13262a;
	background-image: url('images/header.png');
	background-size : 100% 100%;
}

.container-header .container{
	min-height: 115px;

}

.container-header .container .menu{
	min-height: 115px;

}

.container-header .container .menu > ul{
	margin:35px auto;
	list-style-type: none;
}
.container-header .container .menu li{
	float : right;
	border-right: 1px solid #445356;
	position    : relative;
}
.container-header .container .menu a{
	text-decoration: none;
	display: block;
	color  : #ffffeb;
	padding: 10px 8px 10px 15px;
	text-align: right;
	font-family    : 'bmitra' , Arial;
	font-size : 16px;
}
.container-header .container .menu a > p{
	font-family    : 'bmitra' , Arial;
	font-size:11px;	
	color:#778a90;
	margin-top:8px;
}

.container-header .container .menu li:hover{
	border-right: 1px solid transparent;
}
.container-header .container .menu li:hover p{
	color  : #ffffeb;
}
.container-header .container .menu > ul > li:hover > a{
	border-radius:5px;
	-webkit-transition: background-color 500ms;
	-ms-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	transition: background-color 500ms;
}

.container-header .container .menu li li a{
	padding: 5px 5px;
}

.container-header .container .menu li  li:first-child > a{
	border-radius: 5px 5px 0 0;
}

.container-header .container .menu li  li:last-child > a{
	border-radius: 0 0 5px 5px;
}

.container-header .container .menu li ul{
	list-style-type: none;
	position       : absolute;
	top    : 46px;
	right  : 0;
	z-index: 2;
	display: none;
	width  : 160px;
}

.container-header .container .menu li li{
	float : none;
	border: 0 none;
	
}

.container-header .container .menu li a span{
	display: block;
	padding: 7px 5px;
	border-radius   : 3px;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

.container-header .container .menu li:hover > a > span{
	background-color: #425961;
	border-radius   : 3px;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	-ms-transition: background-color 600ms;
	transition: background-color 600ms;
}

.container-header .container .menu li li a{
	white-space: nowrap;
	text-align : right;
}

.container-header .container .menu li li:hover{
  	border-right: none;
}

.container-header .container .menu li:hover > ul{
	display: block;
}

.container-header .container .menu > ul > li > ul{
	padding-top: 20px;
	background-color: #111c20;
	border-radius: 5px 5px 5px 5px;
}

.container-header .container .menu li:hover a{
	background-color: #111c20;
}

.container-header .container .menu li li ul{
	position: absolute;
 	top     : 0;
  	right   : 100px;	  	
}

.container-header .container .logo{
	padding-top:20px;
	min-height: 108px;	
}

.container-header .container .logo .text{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:25px;
	color:white;
	margin-top:25px;
}

.logo-txt1{
	color:#fff;	
	font-style:italic;
}

.logo-txt2{
	color:#b1b1b1;
	font-style:italic;
}

.container-header .container .logo h1{
	min-height: 70px;
	width: 84px;
	background-image: url('images/logo.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-indent:1500px;
	overflow: hidden;
}

/*  Top Shadow  */
.top-shadow{
	min-height: 40px;
	left   : 0;
	right : 0;
	background-image : url('images/bg-div-main.png');
	background-repeat: repeat-x;
	background-size  :100% 100%;  	
	
}
/* -----------------------------------Banner-------------------------------- */
.container-banner{
	left      : 0;
	right     : 0;
	min-height: 1173px;
	background-color : #f4f4f2;
}
.container-banner .container{
	min-height : 1173px;
	padding-top: 1px;
}
.show{
	-webkit-box-shadow:5px 5px 5px #364d53;
	-moz-box-shadow:5px 5px 5px #364d53;
	-o-box-shadow:5px 5px 5px #364d53;
	-ms-box-shadow:5px 5px 5px #364d53;
	box-shadow:5px 5px 5px #364d53;
	border:1px solid #162427;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;	
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	height  : 286px;
	margin:40px auto 0;
	position:relative;
}
.container-banner .container .banner{
	width     : 948px;
	height: 338px;
	overflow  : hidden;
	position  : relative;
}

div.banner div.scroll{
	width   : 5000px;
	height  : 286px;
	position: absolute;
	left    : 0;
	top     : 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 800ms;
	-webkit-transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	-o-transition-property: all;
	-o-transition-duration: 800ms;
	-o-transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	-ms-transition-property: all;
	-ms-transition-duration: 800ms;
	-ms-transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	-moz-transition-property: all;
	-moz-transition-duration: 800ms;
	-moz-transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	transition-property: all;
	transition-duration: 800ms;
	transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	background-color:#162427;
}

div.banner div.scroll > div{
	width : 950px;
	height: inherit;
	float : left;
	background-repeat  : no-repeat;
	background-position: left top;
	background-size:100% 100%;
}
div.banner div.scroll > div .slide-text1,.slide-text2,.slide-text3,.slide-text4,.slide-text5{
	height:220px !important;
	width:400px !important;
	margin-right:0 !important;
	padding-right:30px;
	padding-top:20px;
	text-align:right;
}
div.banner div.scroll > div h1{
	text-shadow:5px 5px 5px #0f2227;
	text-align:right;
	color:#e4e4e4;
	padding-bottom:7px;
	font-family:'bmitra' , Arial;
	font-weight:bold;
	font-size:20px;	
}
div.banner div.scroll > div p{
	line-height:25px;
	font-family:'bmitra' , Arial;
	font-size:15px;
	color:#cfd5df;
}
div.banner div.scroll > div > div{
	width:400px;
	height:267px;
	background-position:left bottom;
	background-repeat:no-repeat;
	margin-left:22px;
	margin-top:20px;
}
div.banner div.scroll > div.adv1{
	background-image: url('images/b1.jpg');
}
div.banner div.scroll > div.adv1 .img-box1{
	background-image:url('images/senfi.png');
}
div.banner div.scroll > div.adv2{
	background-image: url('images/b2.jpg');
}
div.banner div.scroll > div.adv2 .img-box2{
	background-image:url('images/hospital.png');
}
div.banner div.scroll > div.adv3{
	background-image: url('images/b3.jpg');
}
div.banner div.scroll > div.adv3 .img-box3{
	background-image:url('images/modiriyatamval.png');
}
div.banner div.scroll > div.adv4{
	background-image: url('images/b4.jpg');
}
div.banner div.scroll > div.adv4 .img-box4{
	background-image:url('images/radyabi mavad.png');
}
div.banner div.scroll > div.adv5{
	background-image: url('images/b5.jpg');
}
div.banner div.scroll > div.adv5 .img-box5{
	background-image:url('images/modiriyatanbar.png');
}
div.btn{
	width:950px;
	min-height:50px;
	position:relative;
}
div.banner ul.btn{
	list-style-type: none;
	width   :125px;
	height  : 16px;
	position: absolute;
	right : 0;
	bottom: 0;
	top:0;
	left:0;
	margin:300px auto 10px;
	z-index:3;
}

div.banner ul.btn li{
	background:-webkit-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-moz-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-o-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-ms-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:gradient(linear,left top,right top,  from(#777), to(#ccc));
	float : left;
	width : 15px;
	height: 15px;
	margin-right: 5px;
	cursor: pointer;
	-webkit-transition: all 1400ms;
	-moz-transition : all 1400ms;
	-ms-transition: all 1400ms;
	-o-transition : all 1400ms;
	transition: all 1400ms;

	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:solid 1px #b5b5b5;
	z-index:3;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	-webkit-transition:all;
	-ms-transition:all;
	-o-transition:all;
	-moz-transition:all;
	transition:all;

	background:-webkit-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-moz-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-o-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-ms-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:gradient(linear,left top,right top,  from(#333), to(#bbb));
	
	-webkit-transition-duration: 700ms;
	-moz-transition-duration: 700ms;
	-o-transition-duration: 700ms;
	-ms-transition-duration: 700ms;
	transition-duration: 700ms;
}

.line{
	min-height:200px;
	position:relative;	
}
.container-banner .container .text{
	height: 90px;
	border-top:solid 1px #bbf;
	border-bottom:solid 1px #bbf;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.container-banner .container .text p{
	text-align: right;
	margin-top: 15px;
	font-family:'bmitra' , Arial;
	line-height: 30px;
}


.container-banner .container .frame{

}

.container-banner .container .pic1,.pic2,.pic3,.pic4{
	min-height: 380px;
	background-repeat:no-repeat;
	background-size:100% auto;
	padding-top:1px;
}

.container-banner .container .frame-text{
	margin-top:150px;
	text-align:right;
	line-height:25px;
	color:#223240;
	padding-right:6px;
}

.container-banner .container .frame-text h1{
	font-family: 'bmitra' , Arial;
	font-size:19px;
	color:#213144;
	margin-bottom:10px;
}

.container-banner .container .frame-text ul{
	list-style-type:disc;
	padding-right:14px;
}

.container-banner .container .frame-text a{
	text-decoration: none;
	font-family: 'bmitra' , Arial;
	color: #011124;
}

.container-banner .container .frame-text a:hover{
	color:#999;
}

.container-banner .container .pic1{
	background-image:url("images/application.png")
}

.container-banner .container .pic2{
	background-image:url("images/Consumables.png")	
}

.container-banner .container .pic3{
	background-image:url("images/printer.png")		
}

.container-banner .container .pic4{
	background-image:url("images/scanners.png")	
}

.text-banner{
	margin:60px auto 0;
	width:948px;
	height:150px;
	overflow:hidden;
	position:relative;
	border:1px solid	#c8c9c6;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
}

.text-train{
	width:6500px;
	height:150px;
	top:0;
	left:0;
	position:absolute;
	z-index:1;
	-webkit-animation:move 55s infinite;
	-moz-animation:move 55s infinite;
	-ms-animation:move 55 infinite;
	-o-animation:move 55s infinite;
	animation:move 55s infinite;
}

div.text-banner div.text-train > div{
	width:948px;
	height:150px;
	background-color:#d1d3d0;
	float:left;
	position:relative;
	background-image:url(images/quote.png);
	background-repeat:no-repeat;
	background-position:1% 12%;
}

div.text-banner div.text-train > div .text-slide{
	width:800px !important;
	height:120px !important;
	bottom:0;
	top:0;
	left:0;
	right:0;
	position:absolute;
	margin:auto;
	text-align:right;
	font-family: 'bmitra' , Arial;
	line-height:30px;
	font-weight:bold;	
	padding-bottom:10px;
}
@-webkit-keyframes move{
10%{left:0}
26%{left:0}
27% {left:-958px}
28%{left:-940px;}
29%{left:-948px}
42% {left:-948px}
43%{left:-1906px}
44%{left:-1888px}
45%{left:-1896px}
58%{left:-1896px}
59%{left:-2854px}
60%{left:-2836px}
61%{left:-2844px}
74%{left:-2844px}
75%{left:-3802px}
76%{left:-3788px}
77%{left:-3792px}
90%{left:-3792px}
100%{left:0}
}

@-moz-keyframes move{
10%{left:0}
26%{left:0}
27% {left:-958px}
28%{left:-940px;}
29%{left:-948px}
42% {left:-948px}
43%{left:-1906px}
44%{left:-1888px}
45%{left:-1896px}
58%{left:-1896px}
59%{left:-2854px}
60%{left:-2836px}
61%{left:-2844px}
74%{left:-2844px}
75%{left:-3802px}
76%{left:-3788px}
77%{left:-3792px}
90%{left:-3792px}
100%{left:0}
}

@-o-keyframes move{
10%{left:0}
26%{left:0}
27% {left:-958px}
28%{left:-940px;}
29%{left:-948px}
42% {left:-948px}
43%{left:-1906px}
44%{left:-1888px}
45%{left:-1896px}
58%{left:-1896px}
59%{left:-2854px}
60%{left:-2836px}
61%{left:-2844px}
74%{left:-2844px}
75%{left:-3802px}
76%{left:-3788px}
77%{left:-3792px}
90%{left:-3792px}
100%{left:0}
}

@-ms-keyframes move{
10%{left:0}
26%{left:0}
27% {left:-958px}
28%{left:-940px;}
29%{left:-948px}
42% {left:-948px}
43%{left:-1906px}
44%{left:-1888px}
45%{left:-1896px}
58%{left:-1896px}
59%{left:-2854px}
60%{left:-2836px}
61%{left:-2844px}
74%{left:-2844px}
75%{left:-3802px}
76%{left:-3788px}
77%{left:-3792px}
90%{left:-3792px}
100%{left:0}
}

@keyframes move{
10%{left:0}
26%{left:0}
27% {left:-958px}
28%{left:-940px;}
29%{left:-948px}
42% {left:-948px}
43%{left:-1906px}
44%{left:-1888px}
45%{left:-1896px}
58%{left:-1896px}
59%{left:-2854px}
60%{left:-2836px}
61%{left:-2844px}
74%{left:-2844px}
75%{left:-3802px}
76%{left:-3788px}
77%{left:-3792px}
90%{left:-3792px}
100%{left:0}
}

.bot-shadow{
	min-height:40px;
	left:0;
	right:0;
	background-image:url('images/rotate-bg-div-main.png');
	background-repeat:repeat-x;
	background-size: 100% 100%;
}

/* -----------------------Footer--------------------- */
.container-footer{
	left      : 0;
	right     : 0;
	min-height: 367px;
	z-index   : -1;
	background-image : url('images/footer.jpg');
	background-size  : 100% 100%;
}

.container-footer .container{
	min-height: 367px;
}

.container-footer .container .title{
	padding-top: 1px;
}

.container-footer .container .title1,.title2,.title3,.title4{
	min-height: 330px;
	margin-top: 30px;
	text-align:right;
}
/*  Title   H3  H4   */
.container-footer .container .title h3{
	display:block;
	color:#FFF;
	font-family    : 'bmitra' ,  Arial;
	font-size:18px;
	border-bottom:1px solid #5f7984;
	padding-bottom:10px;
	margin-bottom:15px;
}
.container-footer .container .title h4{
	font-family    : 'bmitra' , Arial;
	font-size:14px;
	color:#FFF;	
	margin-bottom:11px;
}
/*--------------------First title--------------------- */
.container-footer .container .title .first input{
	width:220px;
	height:27px;
	border:2px inset #CCC;
	margin-top:5px;
}
.container-footer .container .title .first h6{
	color:#FFF;	
	font-family: Arial;
	font-size:14px;
	margin-top:17px;
}
.container-footer .container .submit1{
	width:100px;
	height:20px;
	display: block;
	margin-top: 15px;
}
#footer-send{
	width:85px;
	height:40px;	
	color:#FFF;	
	font-size:19px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#272727;
	border-radius:8px;
	border:3px outset #444;
	box-shadow:3px 3px 3px  #272727;
	text-align:center;
}
#footer-send:hover{
	background-color:#5F5F5F;	
	border:3px outset #555;
	-moz-transition-duration:300ms;
	-ms-transition-duration:300ms;
	-o-transition-duration:300ms;
	-webkit-transition-duration:300ms;
	transition-duration:300ms;	
}
/*---------------------- Second  title--------------------- */
.container-footer .container .title .second ul{
	text-decoration:none;	
}
.container-footer .container .title .second li{
		float:right;
		margin-left:10px;
}
.container-footer .container .title .second a{
	-webkit-transition-duration:700ms;
	-moz-transition-duration:700ms;
	-o-transition-duration:700ms;
	-ms-transition-duration:700ms;
	transition-duration:700ms;	
}
.container-footer .container .title .second a:hover{
	opacity:0.6;
	-webkit-transition-duration:700ms;
	-moz-transition-duration:700ms;
	-o-transition-duration:700ms;
	-ms-transition-duration:700ms;
	transition-duration:700ms;
}
.container-footer .container .title .second img{
	width:42px;
	height:42px;
}
/*------------------------- third Title---------------------- */
.linkbox1{
	width:43px;
	height:43px;
	background-color:#3b4c51;
	float:right;
	position:relative;	
}
.linkbox2{
	width:35px;
	height:35px;
	background-color:#536369;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin:auto;
	background-image:url('images/usefulllink.png');	
	background-repeat:no-repeat;
	background-size:contain;
}
.title3 .third p{
	color:#5d93a1;
	font-family: 'bmitra' , Arial;
	font-size:15px;
	line-height: 22px;
}
.title3 .third .click{
	margin-right: 60px;
}

.title3 .third a{
	color:#9fcccc;	
}
.title3 .third a:hover{
	color:#ffe;
	text-decoration:underline;	
}
/*------------------------- Forth Title----------------------- */
.container-footer .container .title .forth ul li h6{
	color:#ffe;
	font-family: 'bmitra' , Arial;
	font-size: 15px;
}

.container-footer .container .title .forth ul li h6:hover{
	text-decoration:underline;
}
.container-footer .container .title .forth ul a{
	color:#5d93a1;
	display: block;
	padding-top: 5px;
	text-decoration: none;
}

.container-footer .container .title .forth ul a:first-child{
	padding-top: 0;
}

.container-footer .container .title .forth ul a:hover{
	color:#ffc;	
}

.container-footer .container .title .forth ul li{
	padding-top: 15px;
}

.container-footer .container .title .forth ul li:first-child{
	padding-top: 0;
}
/* -----------------------Bottom of Footer--------------------- */
.container-bottomfooter{
	left      : 0;
	right     : 0;
	height: 80px;
	z-index   : -1;
	background-image: url('images/copyright.jpg');
	background-size : 100% 100%;
}

.container-bottomfooter .container{
	width     : 970px;
	height:50px;
	padding-top: 30px;
}

.container-bottomfooter .container .menu{
	height:50px;
}

.container-bottomfooter .container .menu ul{
	list-style-type: none;
}
.container-bottomfooter .container .menu li > span a{
	color:white;
	text-decoration:none;
}
.container-bottomfooter .container .menu li{
	float : right;
	
}

.container-bottomfooter .container .menu a{
	color          : #7a93a1;
	text-decoration:underline;
	display        : block;
	font-family    : 'bmitra' , Arial;
	font-size      : 11px;
	padding: 0 9px
}
.container-bottomfooter .container .menu a:hover{
	color:#ffd;	
	text-decoration:none;
}
.container-bottomfooter .container .copyright p{
	font-family    : 'bmitra' , Arial;
	color: #B1B1B1;
	font-size:11px;
}

/* -----------------------Contact--------------------- */
#googlemap{
	margin-left:30px;
}

#googlemap p{
	font-family: 'bmitra',Arial, sans-serif;
	margin-top: 10px;
	text-align:right;
	font-size: 14px;
}

#info{

}

#info .text{
	margin-right:30px;
	font-size:15px;
	text-align:right;
	color:#333333;
	font-family: 'bmitra',Arial, sans-serif;
	font-size: 13px;
}

#info .name, .email, .website, .comment{
	margin-top:7px;
	text-align:right;
}

#info span{
	color:red;
	font-family: 'bmitra',Arial, sans-serif;
	font-size:12px;
}

#info input{
	width:240px;	
	height:35px;
	margin-right:30px;
	border:2px solid #999;
	text-align:right;
	direction:rtl;
}

#info textarea{
	margin-right:30px;
	width:330px;
	height:145px;
	border:2px solid #999;
	text-align:right;
	direction:rtl;
}

#info .botton{
	text-align:right;
	margin-right:0px;
	margin-top:10px;		
}

#info .botton input{
	width:85px;
	height:40px;	
	color:#FFF;	
	font-size:19px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#272727;
	border-radius:8px;
	border:3px outset #444;
	box-shadow:3px 3px 3px  #272727;
	text-align:center;
}

#info .botton input:hover{
	background-color:#5F5F5F;	
	border:3px outset #555;
	-moz-transition-duration:300ms;
	-ms-transition-duration:300ms;
	-o-transition-duration:300ms;
	-webkit-transition-duration:300ms;
	transition-duration:300ms;
}

/*------------------AboutUs------------------*/
#about{
	border: 2px solid #E4E4D3;
	min-height: 650px;
	border-radius: 5px 5px 5px 5px;
	
}
#about p{
	text-align: right;
	font-family: 'bmitra', Arial;
	font-size: 17px;
	margin-right:50px;
	direction:rtl;
	text-align:right;
	margin-top:15px;	
	margin-left:50px;
	line-height:25px;
}
#about .ul{
	margin-right:80px;	
}
#about h1{
	margin-right:50px;
	text-align:right;
	font-family: 'bmitra', Arial;
	color:red;
}
/*-----------------------article----------------------------*/
#article{
	border: 2px solid #E4E4D3;
	min-height: 650px;
	border-radius: 5px 5px 5px 5px;
	text-align:justify;
	color:#494952;
	padding:12px 15px 0 15px;
	line-height:28px;
	font-family: 'bmitra' , Arial;
	font-size:17px;
}
#article h1{
	font-size:19px;
	color:#1f252f;
	border-bottom:2px solid #fff;
	padding-bottom:10px;
	text-align:right;
	background-color:#f1f1f3;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	text-indent:10px;
	line-height:25px;
	padding-top:8px;
}
#article h2{
	font-size:18px;
	color:#2f454f;
}
#article #art-img1{
	width:300px;
	margin:10px 320px 0 320px;
}
#article #art-img2{
	float:left;	
	padding-right:20px;
	padding-bottom:10px;
	width:200px;
	height:200px;
}
#article #art-img3{
	float:left;
	width:200px;
	height:200px;
	padding-right:20px;
}
#article #art-img4,#art-img5{
	float:left;	
}
#article span > a{
	color:#002;
	font-style:italic;
	font-size:17px;
	-webkit-transition:all 900ms;
	-moz-transition:all 900ms;
	-ms-transition:all 900ms;
	-o-transition:all 900ms;
	transition:all 900ms;
}
#article span > a:hover{
	color:#233acf;	
	border-bottom:solid 1px #233a6f;
	-webkit-transition:all 500ms;
	-ms-transition:all 500ms;
	-o-transition:all 500ms;
	-moz-transition:all 500ms;
	transition:all 500ms;
}
#article #anchor{
	font-size:14px;
	color:#335;
	margin-right:30px;
}
#article a img #move{
	position:relative;
	-webkit-animation:mymove 2s infinte;
	-ms-animation:mymove 2s infinte;
	-o-animation:mymove 2s infinte;
	-moz-animation:mymove 2s infinte;
	animation:mymove 2s infinte;
	-webkit-animation-direction:alternate;
	-moz-animation-direction:alternate;
	-o-animation-direction:alternate;
	-ms-animation-direction:alternate;
	animation-direction:alternate;
}

@-webkit-keyframes mymove{
0% {top:0px}
50% {top:-70px}
100%{top:0px}	
}
@-moz-keyframes mymove{
0% {top:0px}
50% {top:-70px}
100%{top:0px}	
}
@-ms-keyframes mymove{
0% {top:0px}
50% {top:-70px}
100%{top:0px}	
}
@-o-keyframes mymove{
0% {top:0px}
50% {top:-70px}
100%{top:0px}	
}
@keyframes mymove{
0% {top:0px}
50% {top:-70px}
100%{top:0px}	
}
/*-------------------Header for other page -------------------*/
.container-middle{
	left      : 0;
	right     : 0;
	background-color : #f4f43;
}

.container-middle .container{
	padding: 15px 0;
}

.container-middle .container .banner{

}

.container-middle .container .banner .container-head{
	min-height: 60px;
	margin-bottom: 30px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
	padding: 1px 10px;
}

.container-middle .container .banner .search{
	margin-top: 17px;
}

.container-middle .container .banner .srh{
	border-radius:8px;
	width:150px;
	height:18px;
	background-image:url('images/magnyfie2.png');
	background-repeat:no-repeat;
	background-position:left center;
	outline: 0;
}

.container-middle .container .banner .srh:hover{
	background-image:url('images/magnyfie1.png');
}

.container-middle .container .banner .name{
	text-align: right;
	color: #fff;
	font-family: 'bmitra' , Arial;
	font-size: 18px;
	margin-top: 18px;
}

.container-middle .container .banner .root{
	text-align: right;
	color: #fff;	
	margin-top: 23px;
	font-family: 'bmitra' , Arial;
	font-size: 12px;
}

.container-middle .container .banner .root a{
	color: #fff;
}
/*-------------------Product 4 column-------------------*/
.container-middle .container .product{
	min-height:600px;
	padding-top: 1px;
}

.container-middle .container .product a{
	font-family: 'bmitra' , Arial;
	font-size: 17px ;
	color: #222;
}

.container-middle .container .product .frame-a,.frame-b{
	padding-top:1px;
 }

 .container-middle .container .product .text{
 	padding-top: 150px;
 	min-height: 10px;
 }

.container-middle .container .product .text p{
	text-indent:20px;
	text-align:right;
}

.container-middle .container .product .frame-a .frame1{
	min-height: 300px;
	background-image:url('images/window-product4.jpg');
	background-repeat:no-repeat;
}

.container-middle .container .product .frame-a .frame2{
	min-height: 300px;
	background-image:url('images/window-product3.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}

.container-middle .container .product .frame-a .frame3{
	min-height: 300px;
	background-image:url('images/window-product2.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}

.container-middle .container .product .frame-a .frame4{
	min-height:300px;
	background-image:url('images/window-product1.jpg');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-middle .container .product .frame-b .frame5{
	min-height:300px;
	
	background-repeat:no-repeat;
}

.container-middle .container .product .frame-b .frame6{
	min-height: 300px;
	
	background-repeat:no-repeat;
	background-position:top center;
}

.container-middle .container .product .frame-b .frame7{
	min-height:300px;
	background-image:url('images/window-product5.jpg');
	background-repeat:no-repeat;
	background-position:top center;	
}

.container-middle .container .product .frame-b .frame8{
	min-height: 300px;
	background-image:url('images/window-product6.jpg');
	background-repeat:no-repeat;
	background-position: top right;
 }


/*-------------------Product 3 Column scanner-------------------*/
#scanner .frame-a1,.frame-b1,.frame-c1,.frame-d1,.frame-e1,.frame-e1{
	line-height: 440px;
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	text-transform: capitalize;
}

#scanner a{
	color: #222;
}

#scanner .frame-a1 .frame1{
	min-height: 280px;
	background-image:url('images/at506-big.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-a1 .frame2{
	min-height: 280px;
	background-image:url('images/datalogic-i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-a1 .frame3{
	min-height: 280px;
	background-image:url('images/Datalogic L.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#scanner .frame-b1 .frame4{
	min-height: 280px;
	background-image:url('images/3820.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-b1 .frame5{
	min-height: 280px;
	background-image:url('images/4600g.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-b1 .frame6{
	min-height: 280px;
	background-image:url('images/ms5145.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#scanner .frame-c1 .frame7{
	min-height: 280px;
	background-image:url('images/cs1504.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-c1 .frame8{
	min-height: 280px;
	background-image:url('images/cs3070.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-c1 .frame9{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#scanner .frame-d1 .frame10{
	min-height: 280px;
	background-image:url('images/ls7708.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-d1 .frame11{
	min-height: 280px;
	background-image:url('images/hr100.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-d1 .frame12{
	min-height: 280px;
	background-image:url('images/ms320.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#scanner .frame-e1 .frame13{
	min-height: 280px;
	background-image:url('images/ms350.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-e1 .frame14{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-e1 .frame15{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top center;
}

#scanner .frame-f1 .frame16{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top left;
}

#scanner .frame-f1 .frame17{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top right;
}

#scanner .frame-f1 .frame18{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top center;
}
/*-------------------Product 3 Column printer-------------------*/
#printer .frame-g1,.frame-h1,.frame-i1,.frame-j1,.frame-k1,.frame-l1{
	margin-top: 30px;
	line-height:440px;
	color:#335;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	text-shadow:2px 2x 2px #bbb;
	text-transform:capitalize;
}
#printer P{
	text-align:center;
}
#printer a{
	color: #222;
}

#printer .frame-g1 .frame1{
	min-height: 280px;
	background-image:url('images/btp2002np.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-g1 .frame2{
	min-height: 280px;
	background-image:url('images/srp350plu.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-g1 .frame3{
	min-height: 280px;
	background-image:url('images/sam4s.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printer .frame-h1 .frame4{
	min-height: 280px;
	background-image:url('images/105sl.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-h1 .frame5{
	min-height: 280px;
	background-image:url('images/140xi3.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-h1 .frame6{
	min-height: 280px;
	background-image:url('images/170xi3.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printer .frame-i1 .frame7{
	min-height: 280px;
	background-image:url('images/220xiIII.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-i1 .frame8{
	min-height: 280px;
	background-image:url('images/em220.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-i1 .frame9{
	min-height: 280px;
	background-image:url('images/gk420t.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printer .frame-j1 .frame10{
	min-height: 280px;
	background-image:url('images/gx430t.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-j1 .frame11{
	min-height: 280px;
	background-image:url('images/md_b314e_hc100.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-j1 .frame12{
	min-height: 280px;
	background-image:url('images/mz220.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printer .frame-k1 .frame13{
	min-height: 280px;
	background-image:url('images/p4t.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-k1 .frame14{
	min-height: 280px;
	background-image:url('images/rw420.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-k1 .frame15{
	min-height: 280px;
	background-image:url('images/rw220.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printer .frame-l1 .frame16{
	min-height: 280px;
	background-image:url('images/s4m.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printer .frame-l1 .frame17{
	min-height: 280px;
	background-image:url('images/s600.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printer .frame-l1 .frame18{
	min-height: 280px;
	background-image:url('images/tlp2844.png');
	background-repeat:no-repeat;
	background-position: top center;
}

/*-------------------Product 3 Column pvc printer-------------------*/
#printerpvc .frame-m1,.frame-n1,.frame-o1,.frame-j1,.frame-j1,.frame-l1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	line-height: 440px;
	text-align: center;
}

#printerpvc a{
	color: #222;
}



#printerpvc .frame-m1 .frame1{
	min-height: 280px;
	background-image:url('images/p100i.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printerpvc .frame-m1 .frame2{
	min-height: 280px;
	background-image:url('images/p110i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printerpvc .frame-m1 .frame3{
	min-height: 280px;
	background-image:url('images/p110m.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printerpvc .frame-n1 .frame4{
	min-height: 280px;
	background-image:url('images/p120i.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#printerpvc .frame-n1 .frame5{
	min-height: 280px;
	background-image:url('images/p330i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printerpvc .frame-n1 .frame6{
	min-height: 280px;
	background-image:url('images/p430i.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#printerpvc .frame-o1 .frame7{
	min-height: 280px;
	
	background-repeat:no-repeat;
	background-position: top left;
}

#printerpvc .frame-o1 .frame8{
	min-height: 280px;
	background-image:url('images/p640i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#printerpvc .frame-o1 .frame9{
	min-height: 280px;
	background-image:url('images/zxp8.png');
	background-repeat:no-repeat;
	background-position: top center;
}

/*-------------------Product 3 Column POS-------------------*/
#pos .frame-p1,.frame-q1,.frame-r1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	line-height: 440px;
	text-align: center;
}

#pos a{
	color: #222;
}

#pos .frame-p1 .frame1{
	min-height: 280px;
	background-image:url('images/bcd1000.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#pos .frame-p1 .frame2{
	min-height: 280px;
	background-image:url('images/cashdrawer.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#pos .frame-p1 .frame3{
	min-height: 280px;
	background-image:url('images/ir700.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#pos .frame-q1 .frame4{
	min-height: 280px;
	background-image:url('images/pos2000.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#pos .frame-q1 .frame5{
	min-height: 280px;
	background-image:url('images/pos2700.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#pos .frame-q1 .frame6{
	min-height: 280px;
	background-image:url('images/pos3000.png');
	background-repeat:no-repeat;
	background-position: top center;
}
/*
#pos .frame-r1 .frame7{
	min-height: 280px;
	background-image:url('images/cs1504.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#pos .frame-r1 .frame8{
	min-height: 280px;
	background-image:url('images/cs3070.png');
	background-repeat:no-repeat;
	background-position: top right;
}
#pos .frame-r1 .frame9{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}
*/
/*-------------------Product 3 Column handheld-------------------*/
#handheld .frame-s1,.frame-t1,.frame-u1,.frame-v1,.frame-x1,.frame-w1{
	line-height:440px;
	color:#335;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	text-shadow:2px 2px 2px #bbb;
	text-transform:capitalize;
	text-align:center;
}

#handheld a{
	color: #222;
}

#handheld .frame-s1 .frame1{
	min-height: 280px;
	background-image:url('images/gk7000.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-s1 .frame2{
	min-height: 280px;
	background-image:url('images/at870.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-s1 .frame3{
	min-height: 280px;
	background-image:url('images/at870-.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#handheld .frame-t1 .frame4{
	min-height: 280px;
	background-image:url('images/si303.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-t1 .frame5{
	min-height: 280px;
	background-image:url('images/smarteagle.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-t1 .frame6{
	min-height: 280px;
	background-image:url('images/memor.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#handheld .frame-u1 .frame7{
	min-height: 280px;
	background-image:url('images/scorpio1.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-u1 .frame8{
	min-height: 280px;
	background-image:url('images/scorpio2.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-u1 .frame9{
	min-height: 280px;
	background-image:url('images/ds3.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#handheld .frame-v1 .frame10{
	min-height: 280px;
	background-image:url('images/dolphin6000.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-v1 .frame11{
	min-height: 280px;
	background-image:url('images/dolphin6500.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-v1 .frame12{
	min-height: 280px;
	background-image:url('images/dolphin9900.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#handheld .frame-x1 .frame13{
	min-height: 280px;
	background-image:url('images/dolphin9900-2.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-x1 .frame14{
	min-height: 280px;
	background-image:url('images/7500s.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-x1 .frame15{
	min-height: 280px;
	background-image:url('images/es400.png');
	background-repeat:no-repeat;
	background-position: top center;
}

#handheld .frame-w1 .frame16{
	min-height: 280px;
	background-image:url('images/mc3100.png');
	background-repeat:no-repeat;
	background-position: top left;
}

#handheld .frame-w1 .frame17{
	min-height: 280px;
	background-image:url('images/mc9090g.png');
	background-repeat:no-repeat;
	background-position: top right;
}

#handheld .frame-w1 .frame18{
	min-height: 280px;
	background-image:url('images/mc9090g-2.png');
	background-repeat:no-repeat;
	background-position: top center;
}
/*-----------------buttonpage----------------------*/
.buttonpage{
	width:170px;
	height:30px;
	margin-top:50px;
	margin-right:0px;
	margin-bottom:20px;
	text-align:right;
	
}

.buttonpage input{
	width:35px;
	height:30px;
	background-color:#fffffd;
	border:1px outset  #dddddd;
	border-radius:6px;
}

.buttonpage input:hover{
	background-color:#415762;
	border:1px outset  #415762;
}

/*--------------introduction------------------*/
#detail{
	text-align:right;	
}

#detail h1{
	color:#1a292e;
	font-size:23px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}


#chart{
	margin-top: 80px;
}

#introduction-chart{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	
}

#introduction-chart td , #introduction-chart th{
	font-weight:bold;
	border:1px solid #f4f4f3;
	padding:10px 9px 2px 13px; 
	color:#112;
}

#introduction-chart th{
	text-align:center;
	background-color:#2c4047;
	color:#FFF;
	padding:8px 6px 6px 11px; 
}

#introduction-chart td{
	background-color:#e4e4d3;
	color:#000;
	text-align:center;	
}

#introduction-chart tr.alt td{
	background-color:#7a93a1;
}
