/*div{
	outline:1px solid red;
}*/
a{
	text-decoration:none;
	-webkit-transition-duration:300ms;
	-moz-transition-duration:300ms;
	-o-transition-duration:300ms;
	-ms-transition-duration:300ms;	
}

a:hover{
	-webkit-transition-duration:300ms;
	-moz-transition-duration:300ms;
	-o-transition-duration:300ms;
	-ms-transition-duration:300ms;		
}

.en{
	direction: ltr;
}

body{
	background: #F4F4F2;	
}
/* -----------------------Top Header--------------------- */
.container-topheader{
	left      : 0;
	right     : 0;
	min-height: 20px;
	background-color : #19292E;
	
}

.container-topheader .container{
	min-height: 20px;
	width     : 970px;
}

.container-topheader .container .menu{
}

.container-topheader .container .menu ul{
	list-style-type: none;
}
.container-topheader .container .menu li{
	margin-top:5px;
	border-right: #a8acaf 1px solid;
	float : right;
}
.container-topheader .container .menu li:first-child{
	border:none;	
}
.container-topheader .container .menu a{
	color          : #a8acaf;
	font-family    : Arial, sans-serif;
	font-size      : 12px;
	padding:5px 12px;
}
.container-topheader .container .menu a:hover{
	color:#ffd;	
}
.container-topheader .container .tooltip{
	color      : #B1B1B1;	
	font-family: Arial;
	font-size  : 12px;
	padding:7px 12px;
}

.container-topheader .container .tooltip a{
	text-decoration: none;
	font-family    : Arial;
	font-size      : 12px;
	color          : #B1B1B1;
	
}
/* -----------------------Header---------------------------- */
.container-header{
	min-height: 130px;
	left      : 0;
	right     : 0;
	z-index   : -1;
	background-color: #13262a;
	background-image: url('images/header.png');
	background-size : 100% 100%;
}

.container-header .container{
	min-height: 115px;

}

.container-header .container .menu{
	min-height: 115px;

}

.container-header .container .menu > ul{
	margin:35px auto;
	list-style-type: none;
}
.container-header .container .menu li{
	float : right;
	border-right: 1px solid #445356;
	position    : relative;
}
.container-header .container .menu a{
	text-decoration: none;
	display: block;
	color  : #ffffeb;
	padding: 10px 8px 10px 15px;
	text-align: right;
	font-size : 16px;
}
.container-header .container .menu a > p{
	font-size:11px;	
	color:#778a90;
	margin-top:8px;
}

.container-header .container .menu li:hover{
	border-right: 1px solid transparent;
}
.container-header .container .menu li:hover p{
	color  : #ffffeb;
}
.container-header .container .menu > ul > li:hover > a{
	border-radius:5px;
	-webkit-transition: background-color 500ms;
}

.container-header .container .menu li li a{
	padding: 5px 5px;
}

.container-header .container .menu li  li:first-child > a{
	border-radius: 5px 5px 0 0;
}

.container-header .container .menu li  li:last-child > a{
	border-radius: 0 0 5px 5px;
}

.container-header .container .menu li ul{
	list-style-type: none;
	position       : absolute;
	top    : 46px;
	right  : 0;
	z-index: 2;
	display: none;
	width  : 160px;
}

.container-header .container .menu li li{
	float : none;
	border: 0 none;

}

.container-header .container .menu li a span{
	display: block;
	padding: 7px 5px;
	-webkit-transition: background-color 1s;
}

.container-header .container .menu li:hover > a > span{
	background-color: #425961;
	border-radius   : 3px;
	-webkit-transition: background-color 600ms;
}

.container-header .container .menu li li a{
	white-space: nowrap;
	text-align : right;
}

.container-header .container .menu li li:hover{
  	border-right: none;
}

.container-header .container .menu li:hover > ul{
	display: block;
}

.container-header .container .menu > ul > li > ul{
	padding-top: 20px;
	background-color: #111c20;
	border-radius: 5px 5px 5px 5px;
}

.container-header .container .menu li:hover a{
	background-color: #111c20;
}

.container-header .container .menu li li ul{
	position: absolute;
 	top     : 0;
  	right   : 100px;	  	
}

.container-header .container .logo{
	padding-top:20px;
	min-height: 108px;	
}

.container-header .container .logo .text{
	font-size:25px;
	color:white;
	margin-top:25px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.logo-txt1{
	color:#fff;	
	font-style:italic;
}

.logo-txt2{
	color:#b1b1b1;
	font-style:italic;
}

.container-header .container .logo h1{
	min-height: 70px;
	width: 84px;
	background-image: url('images/logo.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-indent:1500px;
	overflow: hidden;
}

/*  Top Shadow  */
.top-shadow{
	min-height: 40px;
	left   : 0;
	right : 0;
	background-image : url('images/bg-div-main.png');
	background-repeat: repeat-x;
	background-size  :100% 100%;  	
	
}
/* -----------------------------------Banner-------------------------------- */
.container-banner{
	left      : 0;
	right     : 0;
	min-height: 1173px;
	background-color : #f4f4f2;
}
.container-banner .container{
	min-height : 1173px;
	padding-top: 1px;
}
.show{
	-webkit-box-shadow:5px 5px 5px #364d53;
	-moz-box-shadow:5px 5px 5px #364d53;
	border:1px solid #162427;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;	
	height  : 286px;
	margin:40px auto 0;
	position:relative;
}
.container-banner .container .banner{
	width     : 948px;
	height: 338px;
	overflow  : hidden;
	position  : relative;
}

div.banner div.scroll{
	width   : 5000px;
	height  : 286px;
	position: absolute;
	left    : 0;
	top     : 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 800ms;
	-webkit-transition-timing-function: cubic-bezier(0,0.7,0.3,1);
	background-color:#162427;
}

div.banner div.scroll > div{
	width : 950px;
	height: inherit;
	float : left;
	background-repeat  : no-repeat;
	background-position: left top;
	background-size:100% 100%;
}

div.banner div.scroll > div.adv1{
	background-image: url('images/b1.jpg');
}

div.banner div.scroll > div.adv2{
	background-image: url('images/b2.jpg');
}

div.banner div.scroll > div.adv3{
	background-image: url('images/b3.jpg');
}

div.banner div.scroll > div.adv4{
	background-image: url('images/b4.jpg');
}

div.banner div.scroll > div.adv5{
	background-image: url('images/b5.jpg');
}
div.banner div.scroll > div.adv5 .img-box5{
	background-image:url('images/marine.png');
}
div.btn{
	width:950px;
	min-height:50px;
	position:relative;
}
div.banner ul.btn{
	list-style-type: none;
	width   :125px;
	height  : 16px;
	position: absolute;
	right : 0;
	bottom: 0;
	top:0;
	left:0;
	margin:300px auto 10px;
	z-index:3;
}

div.banner ul.btn li{
	background:-webkit-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-moz-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-o-gradient(linear,left top,right top,  from(#777), to(#ccc));
	background:-o-gradient(linear,left top,right top,  from(#777), to(#ccc));
	float : left;
	width : 15px;
	height: 15px;
	margin-right: 5px;
	cursor: pointer;
	-webkit-transition: all 1400ms;
	-moz-transition : all 1400ms;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border:solid 1px #b5b5b5;
	z-index:3;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	-webkit-transition:all;
	background:-webkit-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-moz-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-o-gradient(linear,left top,right top,  from(#333), to(#bbb));
	background:-o-gradient(linear,left top,right top,  from(#333), to(#bbb));
	-webkit-transition-duration: 700ms;
	-moz-transition-duration: 700ms;
}

.line{
	min-height:200px;
	position:relative;	
}
.container-banner .container .text{
	height: 90px;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #fff;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}


.container-banner .container .frame{

}

.container-banner .container .pic1,.pic2,.pic3,.pic4{
	min-height: 380px;
	background-image:url('images/window.png');
	background-repeat:no-repeat;
	background-size:100% auto;
}

.text-banner{
	margin:60px auto 0;
	width:948px;
	height:150px;
	overflow:hidden;
	position:relative;
	border:1px solid	#c8c9c6;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.text-train{
	width:6500px;
	height:150px;
	top:0;
	left:0;
	position:absolute;
	z-index:1;
	-webkit-animation:move 30s infinite;
	-moz-animation:move 30s infinite;
}
div.text-banner div.text-train > div{
	width:948px;
	height:150px;
	background-color:#d1d3d0;
	float:left;
}
.text6{
	width:958  !important;	
}
@-webkit-keyframes move{
0%{left:0}
16%{left:0}
17% {left:-958px}
18%{left:-940px;}
19%{left:-948px}
32% {left:-948px}
33%{left:-1906px}
34%{left:-1888px}
35%{left:-1896px}
48%{left:-1896px}
49%{left:-2854px}
50%{left:-2836px}
51%{left:-2844px}
64%{left:-2844px}
65%{left:-3802px}
66%{left:-3788px}
67%{left:-3792px}
80%{left:-3792px}
81%{left:-4750px}
82%{left:-4742px}
83%{left:-4740px}
96%{left:-4740px}
100%{left:0}
}

@-moz-keyframes move{
0%{left:0}
16%{left:0}
17% {left:-958px}
18%{left:-940px;}
19%{left:-948px}
32% {left:-948px}
33%{left:-1906px}
34%{left:-1888px}
35%{left:-1896px}
48%{left:-1896px}
49%{left:-2854px}
50%{left:-2836px}
51%{left:-2844px}
64%{left:-2844px}
65%{left:-3802px}
66%{left:-3788px}
67%{left:-3792px}
80%{left:-3792px}
81%{left:-4750px}
82%{left:-4742px}
83%{left:-4740px}
96%{left:-4740px}
100%{left:0}
}
.bot-shadow{
	min-height:40px;
	left:0;
	right:0;
	background-image:url('images/rotate-bg-div-main.png');
	background-repeat:repeat-x;
	background-size: 100% 100%;
}

/* -----------------------Footer--------------------- */
.container-footer{
	left      : 0;
	right     : 0;
	min-height: 367px;
	z-index   : -1;
	background-image : url('images/footer.jpg');
	background-size  : 100% 100%;
}

.container-footer .container{
	min-height: 367px;
}

.container-footer .container .title{
	padding-top: 1px;
}

.container-footer .container .title1,.title2,.title3,.title4{
	min-height: 330px;
	margin-top: 30px;
	text-align:right;
}
/*  Title   H3  H4   */
.container-footer .container .title h3{
	display:block;
	color:#FFF;
	font-size:18px;
	border-bottom:1px solid #5f7984;
	padding-bottom:10px;
	margin-bottom:15px;
}
.container-footer .container .title h4{
	font-size:14px;
	color:#FFF;	
	margin-bottom:11px;
}
/*--------------------First title--------------------- */
.container-footer .container .title .first input{
	width:220px;
	height:27px;
	border:2px inset #CCC;
	margin-top:5px;
}
.container-footer .container .title .first h6{
	color:#FFF;	
	font-size:14px;
	margin-top:17px;
}
.container-footer .container .submit1{
	width:100px;
	height:20px;
	display: block;
	margin-top: 15px;
}
/*---------------------- Second  title--------------------- */
.container-footer .container .title .second ul{
	text-decoration:none;	
}
.container-footer .container .title .second li{
		float:right;
		margin-left:10px;
}
.container-footer .container .title .second a{
	-webkit-transition-duration:700ms;
	-moz-transition-duration:700ms;
	-o-transition-duration:700ms;
	-ms-transition-duration:700ms;	
}
.container-footer .container .title .second a:hover{
	opacity:0.6;
	-webkit-transition-duration:700ms;
	-moz-transition-duration:700ms;
	-o-transition-duration:700ms;
	-ms-transition-duration:700ms;
}
.container-footer .container .title .second img{
	width:42px;
	height:42px;
}
/*------------------------- third Title---------------------- */
.linkbox1{
	width:43px;
	height:43px;
	background-color:#3b4c51;
	float:right;
	position:relative;	
}
.linkbox2{
	width:35px;
	height:35px;
	background-color:#536369;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin:auto;
	background-image:url('images/usefulllink.png');	
	background-repeat:no-repeat;
	background-size:contain;
}
.title3 .third p{
	color:#5d93a1;
	font-size:15px;
	font-weight:bold;
}
.title3 .third .click{
	margin-right: 60px;
}

.title3 .third a{
	color:#9fcccc;	
}
.title3 .third a:hover{
	color:#ffe;
	text-decoration:underline;	
}
/*------------------------- Forth Title----------------------- */
.container-footer .container .title .forth ul li h6{
	color:#ffe;

}
.container-footer .container .title .forth ul li h6:hover{
	text-decoration:underline;
}
.container-footer .container .title .forth ul a{
	color:#5d93a1;
	font-size:15px;
	display: block;
	padding-top: 5px;
}

.container-footer .container .title .forth ul a:first-child{
	padding-top: 0;
}

.container-footer .container .title .forth ul a:hover{
	text-decoration:underline;
	color:#ffc;	
}

.container-footer .container .title .forth ul li{
	padding-top: 15px;
}

.container-footer .container .title .forth ul li:first-child{
	padding-top: 0;
}
/* -----------------------Bottom of Footer--------------------- */
.container-bottomfooter{
	left      : 0;
	right     : 0;
	height: 80px;
	z-index   : -1;
	background-image: url('images/copyright.jpg');
	background-size : 100% 100%;
}

.container-bottomfooter .container{
	width     : 970px;
	height:50px;
	padding-top: 25px;
}

.container-bottomfooter .container .menu{
	height:50px;
	
}

.container-bottomfooter .container .menu ul{
	list-style-type: none;
}

.container-bottomfooter .container .menu li{
	float : right;
	
}

.container-bottomfooter .container .menu a{
	color          : #7a93a1;
	text-decoration:underline;
	display        : block;
	font-family    : Arial, sans-serif;
	font-size      : 11px;
	padding: 0 7px
}
.container-bottomfooter .container .menu a:hover{
	color:#ffd;	
	text-decoration:none;
}
.container-bottomfooter .container .copyright p{
	
	font-family:Arial, Helvetica, sans-serif;
	color: #B1B1B1;
	font-size:11px;
}

/* -----------------------Contact--------------------- */
div.middle{
	width:950px;
	margin:0 auto;
	background-color:#f4f4f2;
	margin-top:16px;
}
/*  header of contact */
div.middle .header{
	width:950px;	
	height:40px;
	text-align:center;
	vertical-align:bottom;
	background-color:#333333;
}
div.middle .header .search{
	float:left;
	width:130px;	
	outline:0px solid blue;
	height:40px;
	line-height:32px;
}
div.middle .header .menu{
	width:150px;
	float:left;50px;
	margin-left:10px;
	outline:0px solid green;
	
}
div.middle .header .text{
	margin-left:790px;
	outline:0px solid blue;
	height:40px;
	position:relative;
	line-height:2em;
	
}
div.middle .header .text h3{
	font-size:26px;
	color:red;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;	
}
/* end */ 

/*  CONTACT INFO */
div.middle .googlemap{
	float:left;
	margin-top:60px;
	margin-left:30px;
}
div.middle .googlemap p{
	font-family: Arial, sans-serif;
	margin-top: 10px;
	text-align:right;
	font-size: 14px;
}
div.middle .info{
	width:370px;
	margin-top:60px;
	min-height:450px;
	}
div.middle .info .text{
	margin-right:30px;
	font-size:15px;
	text-align:right;
	color:#333333;
	font-family:"Times New Roman", Times, serif;
}
div.middle .info .name, .email, .website, .comment{
	margin-top:7px;
	text-align:right;
}
div.middle .info span{
	color:red;
	font-size:12px;
}
div.middle .info input{
	width:240px;	
	height:35px;
	margin-right:30px;
	border:2px solid #999;
	text-align:right;
	direction:rtl;
}
div.middle .info textarea{
	margin-right:30px;
	width:330px;
	height:145px;
	border:2px solid #999;
	text-align:right;
	direction:rtl;
}
div.middle .info .botton{
	text-align:right;
	margin-right:0px;
	margin-top:10px;		
}
div.middle .info .botton input{
	width:85px;
	height:40px;	
	color:#FFF;	
	font-size:19px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#272727;
	border-radius:8px;
	border:3px outset #444;
	box-shadow:3px 3px 3px  #272727;
	text-align:center;
}
div.middle .info .botton input:hover{
	background-color:#5F5F5F;	
	border:3px outset #555;
	-moz-transition-duration:300ms;
	-ms-transition-duration:300ms;
	-o-transition-duration:300ms;
	-webkit-transition-duration:300ms;
}
/*  End Of Contact  Page   */

/*-----------------------About Us----------------------------*/
div.textframe {
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

div.textframe .text-container{
	margin:0 auto;
	width:950px;
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}
/*-------------------Product 4 Column-------------------*/
.container-banner-pro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-pro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-pro .container .head{
	
}
#container-header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;	
}
#middle-part{
	min-height: 60px;	
}
#right-part{
}
#left-part{
}

.container-banner-pro .container .head h1{
	min-height: 60px;
}
.container-banner-pro .container .head h2{
	min-height: 60px;
}
.container-banner-pro .container .product .frame-a,.frame-b{
	padding-top:1px;
	text-align:center;  
	margin-top: 30px;
 }

.container-banner-pro .container .product .frame-a .frame1{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
}
.container-banner-pro .container .product .frame-a .frame2{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}
.container-banner-pro .container .product .frame-a .frame3{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}
.container-banner-pro .container .product .frame-a .frame4{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-pro .container .product .frame-b .frame5{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
}
.container-banner-pro .container .product .frame-b .frame6{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}
.container-banner-pro .container .product .frame-b .frame7{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position:top center;	
}
.container-banner-pro .container .product .frame-b .frame8{
	min-height: 300px;
	background-image:url('images/window-product.jpg');
	background-repeat:no-repeat;
	background-position: top right;
 }
/*-------------------Product 3 Column scanner-------------------*/
.container-banner-subpro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-subpro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-subpro .container .head{
	
}

.container-banner-subpro .container .header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

.container-banner-subpro .container .header .root{
	min-height: 60px;
}

.container-banner-subpro .container .header h1{
	min-height: 60px;
}

.container-banner-subpro .container .header h2{
	min-height: 60px;
}

.container-banner-subpro .container .scanner .frame-a1,.frame-b1,.frame-c1,.frame-d1,.frame-e1,.frame-e1{
	margin-top: 30px;
}
.container-banner-subpro .container .scanner .frame-a1 .frame1{
	min-height: 280px;
	background-image:url('images/at506-big.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-a1 .frame2{
	min-height: 280px;
	background-image:url('images/datalogic-i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-a1 .frame3{
	min-height: 280px;
	background-image:url('images/Datalogic L.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-b1 .frame4{
	min-height: 280px;
	background-image:url('images/3820.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-b1 .frame5{
	min-height: 280px;
	background-image:url('images/4600g.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-b1 .frame6{
	min-height: 280px;
	background-image:url('images/ms5145.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-c1 .frame7{
	min-height: 280px;
	background-image:url('images/cs1504.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-c1 .frame8{
	min-height: 280px;
	background-image:url('images/cs3070.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-c1 .frame9{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-d1 .frame10{
	min-height: 280px;
	background-image:url('images/ls7708.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-d1 .frame11{
	min-height: 280px;
	background-image:url('images/hr100.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-d1 .frame12{
	min-height: 280px;
	background-image:url('images/ms320.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-e1 .frame13{
	min-height: 280px;
	background-image:url('images/ms350.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-e1 .frame14{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-e1 .frame15{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-f1 .frame16{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-f1 .frame17{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-f1 .frame18{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}

/*-------------------Product 3 Column printer-------------------*/
.container-banner-subpro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-subpro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-subpro .container .head{
	
}

.container-banner-subpro .container .header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

.container-banner-subpro .container .header .root{
	min-height: 60px;
}

.container-banner-subpro .container .header h1{
	min-height: 60px;
}

.container-banner-subpro .container .header h2{
	min-height: 60px;
}

.container-banner-subpro .container .scanner .frame-g1,.frame-h1,.frame-i1.frame-j1,.frame-k1,.frame-l1{
	margin-top: 30px;
}
.container-banner-subpro .container .scanner .frame-g1 .frame1{
	min-height: 280px;
	background-image:url('images/btp2002np.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-g1 .frame2{
	min-height: 280px;
	background-image:url('images/srp350plu.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-g1 .frame3{
	min-height: 280px;
	background-image:url('images/sam4s.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-h1 .frame4{
	min-height: 280px;
	background-image:url('images/105sl.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-h1 .frame5{
	min-height: 280px;
	background-image:url('images/140xi3.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-h1 .frame6{
	min-height: 280px;
	background-image:url('images/170xi3.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-i1 .frame7{
	min-height: 280px;
	background-image:url('images/220xiIII.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-i1 .frame8{
	min-height: 280px;
	background-image:url('images/em220.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-i1 .frame9{
	min-height: 280px;
	background-image:url('images/gk420t.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-j1 .frame10{
	min-height: 280px;
	background-image:url('images/gx430t.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-j1 .frame11{
	min-height: 280px;
	background-image:url('images/md_b314e_hc100.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-j1 .frame12{
	min-height: 280px;
	background-image:url('images/mz220.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-k1 .frame13{
	min-height: 280px;
	background-image:url('images/p4t.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-k1 .frame14{
	min-height: 280px;
	background-image:url('images/rw420.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-k1 .frame15{
	min-height: 280px;
	background-image:url('images/rw220.png');
	background-repeat:no-repeat;
	background-position: top center;
}
.container-banner-subpro .container .scanner .frame-l1 .frame16{
	min-height: 280px;
	background-image:url('images/s4m.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-l1 .frame17{
	min-height: 280px;
	background-image:url('images/s600.png');
	background-repeat:no-repeat;
	background-position: top right;
}
.container-banner-subpro .container .scanner .frame-l1 .frame18{
	min-height: 280px;
	background-image:url('images/tlp2844.png');
	background-repeat:no-repeat;
	background-position: top center;
}

/*-------------------Product 3 Column pvc printer-------------------*/
.container-banner-subpro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-subpro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-subpro .container .head{
	
}

.container-banner-subpro .container .header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

.container-banner-subpro .container .header .root{
	min-height: 60px;
}

.container-banner-subpro .container .header h1{
	min-height: 60px;
}

.container-banner-subpro .container .header h2{
	min-height: 60px;
}

.container-banner-subpro .container .scanner .frame-m1,.frame-n1,.frame-o1{
	margin-top: 30px;
}
.container-banner-subpro .container .scanner .frame-m1 .frame1{
	min-height: 280px;
	background-image:url('images/p100i.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-m1 .frame2{
	min-height: 280px;
	background-image:url('images/p110i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-m1 .frame3{
	min-height: 280px;
	background-image:url('images/p110m.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-n1 .frame4{
	min-height: 280px;
	background-image:url('images/p120i.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-n1 .frame5{
	min-height: 280px;
	background-image:url('images/p330i.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-n1 .frame6{
	min-height: 280px;
	background-image:url('images/p430i.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-o1 .frame7{
	min-height: 280px;
	background-image:url('images/p640i.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-o1 .frame8{
	min-height: 280px;
	background-image:url('images/zxp8.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-o1 .frame9{
	min-height: 280px;
	/*background-image:url('images/gk420t.png');*/
	background-repeat:no-repeat;
	background-position: top center;
}

/*-------------------Product 3 Column EPOS-------------------*/
.container-banner-subpro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-subpro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-subpro .container .head{
	
}

.container-banner-subpro .container .header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

.container-banner-subpro .container .header .root{
	min-height: 60px;
}

.container-banner-subpro .container .header h1{
	min-height: 60px;
}

.container-banner-subpro .container .header h2{
	min-height: 60px;
}

.container-banner-subpro .container .scanner .frame-p1,.frame-q1,.frame-r1{
	margin-top: 30px;
}
.container-banner-subpro .container .scanner .frame-p1 .frame1{
	min-height: 280px;
	background-image:url('images/bcd1000.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-p1 .frame2{
	min-height: 280px;
	background-image:url('images/cashdrawer.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-p1 .frame3{
	min-height: 280px;
	background-image:url('images/ir700.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-q1 .frame4{
	min-height: 280px;
	background-image:url('images/pos2000.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-q1 .frame5{
	min-height: 280px;
	background-image:url('images/pos2700.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-q1 .frame6{
	min-height: 280px;
	background-image:url('images/pos3000.png');
	background-repeat:no-repeat;
	background-position: top center;
}
/*
.container-banner-subpro .container .scanner .frame-r1 .frame7{
	min-height: 280px;
	background-image:url('images/cs1504.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-r1 .frame8{
	min-height: 280px;
	background-image:url('images/cs3070.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-r1 .frame9{
	min-height: 280px;
	background-image:url('images/ls2208.png');
	background-repeat:no-repeat;
	background-position: top center;
}
*/
/*-------------------Product 3 Column scanphone-------------------*/
.container-banner-subpro{
	left      : 0;
	right     : 0;
	min-height: 880px;
	background-color : #f4f43;
}

.container-banner-subpro .container{
	min-height : 890px;
	padding-top: 1px;
	background-color : #f4f43;
}

.container-banner-subpro .container .head{
	
}

.container-banner-subpro .container .header{
	margin-top: 15px;
	background-image:url('images/product-second-header.png');
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

.container-banner-subpro .container .header .root{
	min-height: 60px;
}

.container-banner-subpro .container .header h1{
	min-height: 60px;
}

.container-banner-subpro .container .header h2{
	min-height: 60px;
}

.container-banner-subpro .container .scanner .frame-s1,.frame-t1,.frame-u1{
	margin-top: 30px;
}
.container-banner-subpro .container .scanner .frame-s1 .frame1{
	min-height: 280px;
	background-image:url('images/gk7000.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.container-banner-subpro .container .scanner .frame-s1 .frame2{
	min-height: 280px;
	background-image:url('images/at870.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-s1 .frame3{
	min-height: 280px;
	background-image:url('images/at870-.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-t1 .frame4{
	min-height: 280px;
	background-image:url('images/si303.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-t1 .frame5{
	min-height: 280px;
	background-image:url('images/smarteagle.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-t1 .frame6{
	min-height: 280px;
	background-image:url('images/memor.png');
	background-repeat:no-repeat;
	background-position: top center;
}

.container-banner-subpro .container .scanner .frame-u1 .frame7{
	min-height: 280px;
	background-image:url('images/scorpio1.png');
	background-repeat:no-repeat;
	background-position: top left;
}

.container-banner-subpro .container .scanner .frame-u1 .frame8{
	min-height: 280px;
	background-image:url('images/scorpio2.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.container-banner-subpro .container .scanner .frame-u1 .frame9{
	min-height: 280px;
	background-image:url('images/ds3.png');
	background-repeat:no-repeat;
	background-position: top center;
}

/*-----------------buttonpage----------------------*/
.buttonpage{
	width:170px;
	height:30px;
	margin-top:50px;
	margin-right:0px;
	margin-bottom:20px;
	text-align:right;
	
}

.buttonpage input{
	width:35px;
	height:30px;
	background-color:#fffffd;
	border:1px outset  #dddddd;
	border-radius:6px;
}

.buttonpage input:hover{
	background-color:#415762;
	border:1px outset  #415762;
}

/*--------------introduction------------------*/
.container-introduction{
	left:0;
	right:0;
	background-color:#f4f4f3;
	height:590px;	
	
}
.container-introduction .container{
	height:580px;
	padding-top:1px;
	background-color:#f4f4f3;
	outline:solid 2px #e4e4d3;
}
.container-introduction .container .detail{
	height:130px;
	padding-top:40px;
	text-align:right;	
}
.container-introduction .container .detail h1{
	color:#1a292e;
	font-size:23px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.container-introduction .container .tool{
	min-height:340px;
	background-image:url('images/motorla.png');
	background-repeat:no-repeat;
}
.container-introduction .container .chart{
	min-height:700px;
	margin-top:130px;
	position:relative;
}
.introduction-chart{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	width:615px;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
}
.introduction-chart td,.introduction-chart th{
	font-weight:bold;
	border:1px solid #f4f4f3;
	padding:10px 9px 2px 13px; 
	color:#112;
}
.introduction-chart th{
	text-align:center;
	background-color:#2c4047;
	color:#FFF;
	padding:8px 6px 6px 11px; 
}
.introduction-chart td{
	background-color:#e4e4d3;
	color:#000;
	text-align:center;	
}
.introduction-chart tr.alt td 
{
	background-color:#7a93a1;
}
