body *{
	outline: 1px dashed red;
}

div.body-backguide{
	width     : 1663px;
	min-height: 1791px;
	background-image   : url('images/backguide.png');
	background-repeat  : no-repeat;
	background-position: center;
}
/* -----------------------Top Header--------------------- */
.container-topheader{
	width : 1280;
	margin: 0 auto;
	min-height: 28px;
}

.container-topheader .container{
	min-height: 28px;
}

.container-topheader .container .menu{

}

.container-topheader .container .tooltip{
	
}
/* -----------------------Header--------------------- */
.container-header{
	width : 1280;
	margin: 0 auto;
	min-height: 133px;
}

.container-header .container{
	min-height: 133px;
}

.container-header .container .menu{
	
}

.container-header .container .logo{
	
}
/* -----------------------Banner--------------------- */
.container-banner{
	width     : 1280;
	margin    : 0 auto;
	min-height: 1173px;
}

.container-banner .container{
	min-height : 1173px;
	padding-top: 1px;
}

.container-banner .container .slidshow{
	min-height: 325px;
	margin-top: 40px;
	padding   : 0 20px;
}

.container-banner .container .topline{
	min-height: 15px;
	margin-top: 10px;
}

.container-banner .container .text{
	min-height: 60px;
	margin-top: 10px;
}

.container-banner .container .bottomline{
	min-height: 15px;
	margin-top: 15px;
}

.container-banner .container .pic1,.pic2,.pic3,.pic4{
	min-height: 380px;
}

.container-banner .container .textslide{
	min-height: 200px;
	margin-top: 20px;
}
/* -----------------------Footer--------------------- */
.container-footer{
	width     : 1280;
	margin    : 0 auto;
	min-height: 367px;
}

.container-footer .container{
	min-height: 367px;
}

.container-footer .container .title{
	padding-top: 1px;
}

.container-footer .container .title1,.title2,.title3,.title4{
	min-height: 280px;
	margin-top: 30px;
}
